<div class='topLogIn parallax'>

  <a href='#login' class='waves-effect grey darken-4 btn-large'> <b> Log In </b> </a>

</div>

<div class='createUser'>
  <div class='formContainerSign'>

    <form class='col s12' action='/login' method='POST' class='formCreateUser'>

      <h2>Email</h2>
      <input class='validate' type='email' name='email' placeholder='email@mail.com' />

      <h2>Password</h2>
      <input class='validate' type='password' name='password' placeholder='password' />

      <button id='login' class='waves-effect red darken-1 btn-large' type='submit' name='action'>Log in
        <i class='material-icons right'>send</i>
      </button>

      {{#if errorMessage}}
        <br />
        <p style='color: #e3455e'>{{errorMessage}}</p>
      {{/if}}

    </form>

  </div>
</div>