<div class='row'>
  <h2>Register</h2>
  <form class='col s12' action='/signup' method='POST'>

    <div class='input-field col s12'>
      <h2>username</h2>
      <input type='text' name='username' placeholder='username' />
    </div>

    <div class='input-field col s12'>
      <h2>Email</h2>
      <input type='email' name='email' placeholder='example@gmail.com' />
    </div>
    <div class='input-field col s12'>
      <h2>Password</h2>
      <input type='password' name='password' placeholder='password' />
    </div>
    <h2>Role</h2>
    <select name='role'>
      <option disable selected></option>
      <option name='admin'>admin</option>
      {{! <option name='captain'>captain</option> }}
      <option name='player'>player</option>
    </select>

    <button class='btn waves-effect indigo darken-4' type='submit' name='action'>Create Account
      <i class='material-icons right'>send</i>
    </button>
    <h3>Roles</h3>
    <ul>
      <li><b>Admin:</b> Create Tournaments and Teams</li>
      {{! <li><b>Captain:</b> Can create Teams and join One</li> }}
      <li><b>Player:</b> Only can join Teams</li>
    </ul>
  </form>

</div>