<div class='topHome parallax'>
  <p> <b>The place where the legends rise</b> </p>
  <h1> <b>Battle Show </b> </h1>
  <a class='waves-effect red darken-1 btn-large' href='/login'>JOIN FREE</a>
</div>
<h1>News</h1>
<div class='news'>

  <div class='col s12 m7 grey darken-4'>
    <h2 class='header grey darken-4'>Great Players!</h2>
    <div class='card horizontal'>
      <div class='card-image grey darken-4'>
        <img
          src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaz7bhZbkC2HO9ArZ5Pcx12WZrnlIwZm95vSj8Fx7d9FLaW4Lyk_--LTE_QiBeFGOXIDo&usqp=CAU'
          width='200'
          height='200'
        />
      </div>
      <div class='card-stacked grey darken-4'>
        <div class='card-content grey darken-4'>
          <p>Great players have joined with whom you can team up or fight against them, show your skills!</p>
        </div>
        <div class='card-action grey darken-4'>
          <a class='waves-effect red darken-1 btn-large' href='/signup'>Sign Up!</a>
        </div>
      </div>
    </div>
  </div>

  <div class='col s12 m7 grey darken-4'>
    <h2 class='header grey darken-4'>The Season Start!</h2>
    <div class='card horizontal grey darken-4'>
      <div class='card-image grey darken-4'>
        <img
          src='https://depor.com/resizer/xS8go_lFbvGZ1N6VRhpxLgtWuxA=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/2QXV54WU25F4DKBYSMTF2HYQF4.jpg'
          width='200'
          height='200'
        />
      </div>
      <div class='card-stacked grey darken-4'>
        <div class='card-content grey darken-4'>
          <p>New season, New Teams! Great games await us with the new teams registered!</p>
        </div>
        <div class='card-action grey darken-4'>
          <a class='waves-effect red darken-1 btn-large' href='/team/list'>Check the Teams!</a>
        </div>
      </div>
    </div>
  </div>

</div>