<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{title}}</title>

    {{! <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet' />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU'
      crossorigin='anonymous'
    /> }}

    <!--Import Google Icon Font-->
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' />

    <!-- Compiled and minified CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css' />

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <nav>
      <div class='nav-wrapper indigo darken-4'>
        <a href='/' class='brand-logo'>BattleShow</a>
        <a href='#' data-target='mobile-demo' class='sidenav-trigger'><i class='material-icons'>menu</i></a>
        <ul class='right hide-on-med-and-down'>

          {{#if currentUser}}
            <li> <a href='/tournaments'>Tournaments</a></li>
            <li> <a href='/team/list'>Teams</a></li>
            {{#if isAdmin}}
              <li> <a href='/tournaments/create'>Create a tournament</a></li>

              <li> <a href='/team/create'> Create a Team</a></li>
            {{/if}}
            <li> <a href='/user/profile'> Profile</a></li>

            <li>
              <form action='/logout' method='POST'>
                <button class='waves-effect indigo darken-4 btn-large'>Log Out</button>
              </form>
            </li>

          {{else}}
            <li> <a href='/'>Home</a></li>
            <li> <a href='/tournaments'>Tournaments</a></li>
            <li> <a href='/team/list'>Teams</a></li>
            <li> <a href='/signup'> Sign up</a></li>
            <li> <a href='/login'> Log in</a></li>

          {{/if}}

        </ul>
      </div>
    </nav>

    <ul class='sidenav' id='mobile-demo'>

      {{#if currentUser}}
        <li> <a href='/'>Home</a></li>

        <li> <a href='/tournaments'>Tournaments</a></li>
        <li> <a href='/team/list'>Teams</a></li>
        {{#if isAdmin}}
          <li> <a href='/tournaments/create'>Create a tournament</a></li>

          <li> <a href='/team/create'> Create a Team</a></li>
        {{/if}}
        <li> <a href='/user/profile'> Profile</a></li>

        <li>
          <form action='/logout' method='POST'>
            <button class='waves-effect indigo darken-4 btn-large'>Log Out</button>
          </form>
        </li>

      {{else}}
        <li> <a href='/'>Home</a></li>
        <li> <a href='/tournaments'>Tournaments</a></li>
        <li> <a href='/team/list'>Teams</a></li>
        <li> <a href='/signup'> Sign up</a></li>
        <li> <a href='/login'> Log in</a></li>

      {{/if}}

    </ul>

    <div class='container'>
      {{{body}}}
    </div>

    <script src='/javascripts/script.js'></script>
    <!-- Compiled and minified JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'></script>

    <script>
      M.AutoInit()
    </script>
  </body>

</html>