<div class='createUser'>
  <div class='formContainerSign'>
    {{#if isAdmin}}
      <div>

        <form action='edit' method='POST'>

          <h1>Name</h1>
          <input type='text' value='{{name}}' name='name' />

          <h1>description</h1>
          <input type='text' name='description' value='{{description}}' />
          <h2>Url Image</h2>
          <input type='text' name='imageUrl' value='{{this.imageUrl}}' />

          <button class='waves-effect red darken-1 btn-large' type='submit' name='action'>Update
            <i class='material-icons right'>update</i>
          </button>
        </form>
      </div>

    {{else}}

      <h1>Only admins can edit Teams</h1>

    {{/if}}
  </div>

</div>