@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Signika Negative', sans-serif;
}

body {
  background-color: #ebebe4;
}
button {
  font-family: 'Signika Negative', sans-serif;
}

.topHome {
  background-image: url('https://images.contentstack.io/v3/assets/bltad9188aa9a70543a/blte06167f518dd1579/5f5c00ebfef72a4b5f96597f/01-Header.jpg?width=3200&height=1800');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ebebe4;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;

  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news {
  display: flex;

  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.col {
  width: 30%;
  color: #ebebe4;
  border-radius: 8px;
}
/* Torneos */

.topTourlist {
  background-image: url('http://i.imgur.com/CfzLJxp.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ebebe4;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;

  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tcard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* detalles Toreno */

.tourDetails {
  padding: 30px;

  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/38628400-c0c7-4103-9902-c9476ff98742/d80oh6i-49a9d301-f894-4b97-b061-cc11994f5de0.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM4NjI4NDAwLWMwYzctNDEwMy05OTAyLWM5NDc2ZmY5ODc0MlwvZDgwb2g2aS00OWE5ZDMwMS1mODk0LTRiOTctYjA2MS1jYzExOTk0ZjVkZTAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DSjHrqSgfhqkLOSJvELq74JnnUzrP5l-saZ7GN2aMxU');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ebebe4;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;

  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.infoIn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.form {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

/* formularios */
.joinTeam {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.formjoinTeam {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.createTour {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.formCreateTour {
  margin: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}
/* signup */
.topSignUp {
  padding: 30px;
  background-image: url('https://nexus.leagueoflegends.com/wp-content/uploads/2019/09/Caps_rp5fg7fqkyhmztp61hdb.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ebebe4;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;

  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.topLogIn {
  padding: 30px;
  background-image: url('http://jugadordepc.com/wp-content/uploads/2021/08/Segun-los-informes-Riot-trasladara-League-of-Legends-Worlds-2021.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ebebe4;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;

  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.createTeam {
  padding: 30px;
  background-image: url('https://metro.co.uk/wp-content/uploads/2019/09/UKLC-Summer-Finals-2019-Joe-Brady-2057-354e.jpg?quality=90&strip=all&crop=0px%2C228px%2C2048px%2C1076px&resize=1200%2C630');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ebebe4;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;

  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topCreateTour {
  padding: 30px;
  background-image: url('https://nexus.leagueoflegends.com/wp-content/uploads/2020/01/CoverImage_xh4ey30pet5zkkpwz7g3.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ebebe4;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;

  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topProfile {
  padding: 30px;
  background-image: url('https://i1.wp.com/ramenswag.com/wp-content/uploads/2020/08/wp6012335.jpg?fit=1563%2C880&ssl=1');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ebebe4;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;

  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topManagment {
  padding: 30px;
  background-image: url('https://forums.comunidades.riotgames.com/t5/image/serverpage/image-id/5812iFD263D28A3960483/image-size/large/is-moderation-mode/true?v=v2&px=999');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ebebe4;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;

  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.createUser {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.formCreateUser {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.formContainerSign {
  margin: 10px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #211e29;
  border-radius: 10px;
  color: #ebebe4;
}
input,
select,
textarea {
  color: #e3455e;
}

::placeholder {
  color: #e3455e;
  opacity: 0.5; /* Firefox */
}

/* Teams views */

.topTeamlist {
  padding: 30px;
  background-image: url('https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/HQRX3QP235FPJK5OGKIL4YLAYI.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ebebe4;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;

  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.containerT {
  width: 30%;
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cardTeam {
  width: 100%;
  display: flex;
  justify-content: center;
}

.highCard {
  height: 10%;
  border-radius: 8px;
}

.topTeamInfo {
  padding: 30px;
  background-image: url('https://leaguefeed.net/wp-content/uploads/2021/03/league-of-legends-pro-players-salary.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ebebe4;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;

  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.teamInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.teamInfoContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  color: #ebebe4;
  background-color: #211e29;
  border-radius: 8px;
}

@media (max-width: 800px) {
  .news {
    display: flex;

    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }

  .card {
    width: 70vh;
    color: #ebebe4;
    border-radius: 8px;
  }

  .col {
    width: 70vh;
    color: #ebebe4;
    border-radius: 8px;
  }
}
