<div class='createUser'>
  <div class='formContainerSign'>
    {{#if isAdmin}}
      <form action='edit' method='POST'>

        <h1>Name</h1>
        <input type='text' value='{{name}}' name='name' />

        <h1>description</h1>
        <input type='text' name='description' value='{{description}}' />

        <button class='waves-effect red darken-1 btn-large' type='submit' name='action'>Update
          <i class='material-icons right'>update</i>
        </button>
      </form>

    {{else}}
      <h2>Only Admin's can edit Tournaments </h2>
    {{/if}}
  </div>
</div>