<div>
  {{#if isAdmin}}
    <form action='/tournaments/{{id}}/join' method='POST'>
      <h1>Select the team that you want to join</h1>
      <select name='teams'>
        <option disable selected value=''></option>
        {{#each foundUser.team}}

          <option value='{{this._id}}'>{{this.name}}</option>
        {{/each}}

      </select>
      <button class='btn waves-effect indigo darken-4' type='submit' name='action'>Join
        <i class='material-icons right'>check</i>
      </button>
    </form>
  {{else}}
    <h2>You need to be Captain to join a team</h2>
  {{/if}}
</div>