<div>
  {{#if admin}}
    <form action='/tournaments/{{id}}/join' method='POST'>
      <h1>Select the team that you want to join</h1>
      <select name='teams'>
        <option disable selected value=''></option>
        {{#each foundUser.team}}

          <option value='{{this._id}}'>{{this.name}}</option>
        {{/each}}

      </select>
      <button type='submit'>JOIN</button>
    </form>
  {{else}}
    <h2>You need to be Captain to join a team</h2>
  {{/if}}
</div>